
{:host "fe.jimu.io"
 :uploads [{:from "dist/*"
            :to "cdn/fe-home/"}
           {:from "dist/{index.html,manifest.json}"
            ; send to an index directory
            :to "repo/jimengio/"}]}
