{
 :sessions {}
 :users {
  "Te8rlE7HJ" {:id "Te8rlE7HJ", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil}
 }
 :templates {
  "avS3iJomo" {
   :id "avS3iJomo", :name "project", :mock-pointer "base", :width 400, :height "200"
   :mocks {
    "base" {
     :id "base", :name "base"
     :data {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
    }
   }
   :markup {
    :layout :column, :type :element, :id "system"
    :children {
     "T" {
      :id "T", :type :text, :layout nil
      :props {"@:param" "@:ui", "value" "@:title"}
      :attrs {"tab-index" "-1"}
      :presets #{:font-fancy}
      :style {"font-size" "16px", "font-weight" "300", "color" "hsl(200, 80%, 50%)", "outline" "none"}
      :children {}
     }
     "j" {
      :layout nil, :type :link, :id "j"
      :children {}
      :style {"text-decoration" "none", "color" "hsl(0, 0%, 50%)", "user-select" "none", "outline" "none"}
      :presets #{}
      :event {}
      :attrs {"target" "\"_blank", "tab-index" "-1"}
      :props {"text" "\"repo", "href" "@:repo", "param" "@:repo"}
     }
    }
    :style {"background-color" "hsl(0, 0%, 97%)", "padding" "8px 12px", "width" "200px", "border" "1px solid hsl(0, 0%, 90%)", "display" "inline-flex", "margin" "16px", "text-decoration" "none"}
    :presets #{}
    :event {}
    :attrs {"tab-index" "0", "href" "@:ui"}
    :props {"name" "\"a"}
   }
  }
  "sT5xB62uu" {
   :id "sT5xB62uu", :name "group", :mock-pointer "base", :width "800", :height 400
   :mocks {
    "base" {
     :id "base", :name "base"
     :data {
      :title "Router"
      :projects [
       {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
       {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
      ]
     }
    }
   }
   :markup {
    :id "system", :type :box, :layout :column
    :props {}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "T" {
      :id "T", :type :text, :layout nil
      :props {"value" "@:title"}
      :attrs {}
      :presets #{:font-fancy}
      :style {"color" "hsl(0, 0%, 88%)", "font-size" "32px", "font-weight" "300"}
      :children {}
     }
     "j" {
      :id "j", :type :list, :layout nil
      :props {"value" "@:projects"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "T" {
        :id "T", :type :template, :layout nil
        :props {"name" "\"project", "data" "@:item"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
      }
     }
    }
   }
  }
  "zT_3yJfJe" {
   :id "zT_3yJfJe", :name "container", :mock-pointer "base", :width 400, :height 400
   :mocks {
    "base" {
     :id "base", :name "base"
     :data [
      {
       :title "Router"
       :projects [
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
       ]
      }
      {
       :title "Router"
       :projects [
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
       ]
      }
     ]
    }
   }
   :markup {
    :id "system", :type :box, :layout :row
    :props {}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "T" {
      :id "T", :type :list, :layout nil
      :props {"value" "@"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "T" {
        :id "T", :type :template, :layout nil
        :props {"name" "group", "data" "@:item"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
      }
     }
    }
   }
  }
 }
 :settings {
  :colors {
   "B3t5OxuJq" {:id "B3t5OxuJq", :name "link", :color "hsl(200, 80%, 50%)", :group "font"}
   "_Oi3la2Lw" {:id "_Oi3la2Lw", :name "bg", :color "hsl(0, 0%, 97%)", :group "theme"}
   "nATXN-MR0" {:id "nATXN-MR0", :name "title", :color "hsl(0, 0%, 88%)", :group "font"}
   "wYLgglKgc" {:id "wYLgglKgc", :name "name", :color "hsl(0, 0%, 50%)", :group "font"}
  }
 }
}