{
 :sessions {}
 :users {
  "Te8rlE7HJ" {:id "Te8rlE7HJ", :name "chen", :nickname "chen", :password "d41d8cd98f00b204e9800998ecf8427e", :avatar nil}
 }
 :templates {
  "avS3iJomo" {
   :id "avS3iJomo", :name "project", :mock-pointer "base", :width 400, :height "200"
   :mocks {
    "base" {
     :id "base", :name "base"
     :data {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
    }
   }
   :markup {
    :id "C8KZ0XcAY", :type :box, :layout nil
    :props {}
    :attrs {}
    :presets #{}
    :style {"position" "relative", "margin" "12px 12px", "display" "inline-block", "min-width" "200px"}
    :children {
     "T" {
      :layout :row, :type :element, :id "system"
      :children {
       "D" {
        :type :image, :layout nil
        :props {"src" "@:logo", "mode" ":contain", "width" "48", "height" "48"}
        :attrs {}
        :presets #{}
        :style {}
        :event {}
        :children {}
       }
       "L" {
        :type :space, :layout nil
        :props {"width" "12"}
        :attrs {}
        :presets #{}
        :style {}
        :event {}
        :children {}
       }
       "T" {
        :id "T", :type :text, :layout nil
        :props {"@:param" "@:ui", "value" "@:title"}
        :attrs {"tab-index" "-1"}
        :presets #{}
        :style {"font-size" "16px", "font-weight" "300", "color" "hsl(200, 80%, 50%)", "outline" "none", "font-family" "Josefin Sans, Helvetica neue, Arial, sans-serif"}
        :children {}
       }
       "j" {
        :id "j", :type :element, :layout nil
        :props {"name" "\"span"}
        :attrs {}
        :presets #{}
        :style {"height" "24px"}
        :children {}
       }
      }
      :style {"background-color" "hsl(0, 0%, 98%)", "border" "1px solid hsl(0, 0%, 95%)", "text-decoration" "none", "width" "100%", "padding" "8px 8px", "min-height" "72px"}
      :presets #{}
      :event {}
      :attrs {"tab-index" "0", "href" "@:ui"}
      :props {"name" "\"a"}
     }
     "j" {
      :layout nil, :type :link, :id "j"
      :children {}
      :style {"text-decoration" "none", "color" "hsl(0, 0%, 50%)", "user-select" "none", "outline" "none", "position" "absolute", "bottom" "8px", "left" "68px", "margin" "0px"}
      :presets #{}
      :event {}
      :attrs {"target" "\"_blank", "tab-index" "-1", "inner-text" "\"repo"}
      :props {"text" "\"repo", "href" "@:repo"}
     }
    }
   }
  }
  "sT5xB62uu" {
   :id "sT5xB62uu", :name "group", :mock-pointer "base", :width "800", :height 400
   :mocks {
    "base" {
     :id "base", :name "base"
     :data {
      :title "Router"
      :projects [
       {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
       {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
      ]
     }
    }
   }
   :markup {
    :id "system", :type :box, :layout :column
    :props {}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "T" {
      :id "T", :type :text, :layout nil
      :props {"value" "@:title"}
      :attrs {}
      :presets #{}
      :style {"color" "hsl(0, 0%, 88%)", "font-size" "32px", "font-weight" "300", "font-family" "Josefin Sans, Helvetica neue, Arial, sans-serif"}
      :children {}
     }
     "j" {
      :id "j", :type :list, :layout nil
      :props {"value" "@:projects"}
      :attrs {}
      :presets #{}
      :style {}
      :children {
       "T" {
        :id "T", :type :template, :layout nil
        :props {"name" "\"project", "data" "@:item"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
      }
     }
    }
   }
  }
  "zT_3yJfJe" {
   :id "zT_3yJfJe", :name "container", :mock-pointer "base", :width 400, :height 400
   :mocks {
    "base" {
     :id "base", :name "base"
     :data [
      {
       :title "Router"
       :projects [
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
       ]
      }
      {
       :title "Router"
       :projects [
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
        {:title "Jimo Icons", :repo "https://github.com/jimengio/jimo-icons", :ui "http://fe.jimu.io/jimo-icons/", :logo "http://cdn.tiye.me/logo/jimeng-360x360.png", :kind :docs}
       ]
      }
     ]
    }
   }
   :markup {
    :id "system", :type :box, :layout :row
    :props {}
    :attrs {}
    :presets #{}
    :style {}
    :children {
     "T" {
      :id "T", :type :list, :layout nil
      :props {"value" "@"}
      :attrs {}
      :presets #{}
      :style {"max-width" "100%"}
      :children {
       "T" {
        :id "T", :type :template, :layout nil
        :props {"name" "group", "data" "@:item"}
        :attrs {}
        :presets #{}
        :style {}
        :children {}
       }
      }
     }
    }
   }
  }
 }
 :settings {
  :color-groups {
   "font" {
    :id "font", :name "font"
    :colors {
     "B3t5OxuJq" {:id "B3t5OxuJq", :name "link", :color "hsl(200, 80%, 50%)", :group "font"}
     "nATXN-MR0" {:id "nATXN-MR0", :name "title", :color "hsl(0, 0%, 88%)", :group "font"}
     "wYLgglKgc" {:id "wYLgglKgc", :name "name", :color "hsl(0, 0%, 50%)", :group "font"}
    }
   }
   "theme" {
    :id "theme", :name "theme"
    :colors {
     "_Oi3la2Lw" {:id "_Oi3la2Lw", :name "bg", :color "hsl(0, 0%, 98%)", :group "theme", :group-id "theme"}
    }
   }
  }
 }
}